{
    "gateway": {
        "host": "https://192.168.0.100",
        "password": "P4ssW0rd123"
    },
    "octopus_energy": {
        "account_number": "A-D1234A1A",
        "api_key": "sk_live_XXXXXXXXXXXXXXXXXXXXXXXX"
    },
    "weather": {
        "latitude": "51.46",
        "longitude": "-2.6"
    }
}